<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.eportal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon_eportal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdminActivity"></activity>
        <activity android:name=".calendar.activities.MangersCalendarActivity" />
        <activity android:name=".manager.LogsActivity" />
        <activity android:name=".IT.AddManager" />
        <activity android:name=".IT.Add" />
        <activity android:name=".IT.ManagerRequestForIT" />
        <activity android:name=".IT.UsersRequestforIT" />
        <activity android:name=".IT.ITDashboard" />
        <activity android:name=".IT.ITLogin" />
        <activity android:name=".manager.UsersRequests" />
        <activity android:name=".RetrievePDFActivity" />
        <activity android:name=".manager.ManagerMakeItRequest" />
        <activity android:name=".employee.EmployeeMakeITRequest" />
        <activity android:name=".employee.GetTasksActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Forgetpassword" />
        <activity android:name=".manager.MakeTasksActivity" />
        <activity android:name=".employee.meeting_employee" />
        <activity android:name=".manager.Meeting_manager" />
        <activity android:name=".calendar.activities.Calendar" />
        <activity android:name=".manager.ManagerDashboard" />
        <activity android:name=".manager.ManagerLogin" />
        <activity android:name=".employee.EmployeeLogin" />
        <activity android:name=".employee.Dashboard" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>